.a {
  color: aliceblue;
}

#contFooter {
  width: 100%;
}

#wpFooter {
  margin-top: -13px;
  margin-bottom: -15px;
  margin-left: -21px;
}

#iconFooter {
  margin-left: 100px;
}

#linkList {
  color: aliceblue !important;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #cb1f30;
  min-height: 28rem;
}

.float{
	position:fixed;
  width: 45px;
  height: 45px;
  padding: 5px 10px;
	bottom:40px;
	right:40px;
	background-color:#4dc247;
	color:#FFF;
  border-radius:50px;
  vertical-align: middle;
	/*text-align:center;*/
  font-size:30px;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  z-index:100;
}

.my-float{
	margin-bottom: 15px;
}

.containerF{
  margin-top: 30px;
}